.order1 {
	order: 1;
}

.order2 {
	order: 2;
}

.order3 {
	order: 3;
}

.order4 {
	order: 4;
}

.order-1 {
	order: -1;
}

.flex-grow {
	flex-grow: 1;
}

.column {
	flex-direction: column;
}
